# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore project specific
.vscode/
.codex

# Ignore Nodejs build and cache directory
dist/
node_modules/

# Ignore failed prototypes directory
failed/*